*.o
*.a
*.log
*.trs
*Makefile
*.deps/
test-driver
config.log
config.status
source/config.h
source/stamp-h1
*Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
compile
source/config.h.in
source/ergo_input_parser.c
source/ergo_input_processor.c
source/ergo_input_processor.h
ylwrap
source/bin2m
source/densfromf/purification/test
source/ergo
source/fermi_contact
source/matrix/blastime
source/matrix/matbench
source/matrix/matbenchgemm
source/matrix/mattest
source/matrix/omptest
source/matrix/perturbtest
source/matrix/template_lapack/blas/templateblastest
source/matrix/template_lapack/blas/templateblastest_threaded
source/matrix/template_lapack/lapack/templatelapacktest
source/matrix/template_lapack/lapack/templatelapacktest_threaded
source/tddft/tddft_test
source/test/basicmath_test
source/test/cht_general_test
source/test/cht_overlapmat_test
source/test/cht_scf_test
source/test/explicit_integral_test
source/test/gradient_test
source/test/grid_test
source/test/jmat_extrapolate_test
source/test/jmat_test
source/test/kmat_nosymm_test
source/test/kmat_symm_test
source/test/kmat_test
source/test/lapack_test
source/test/mat_performance_test
source/test/mat_thread_test
source/test/matmem_test
source/test/mmul_rectangular_test
source/test/mmul_simple_many_test
source/test/mmul_simple_test
source/test/stream_test
source/test/tmat_test
source/test/vmat_test
source/test/xcmat_nan_inf_test
source/test/xcmat_sparse_test
source/test/xcmat_test
documentation/html/
*~
build*/*
#*#
